/* GENERALES */
body {margin:25px auto;padding:0;font:76% Arial,sans-serif;background:#5298af;color:#222;line-height:1.3em}
caption{font-size:32px;color:#009933;font-weight:bold;background:#ecf4f6;}
th{font-size:24px;color:#303030;font-weight:bold;text-align:center;}
* {margin:0;padding:0}
.fleft {float:left}
.fright {float:right}
.fcenter {float:none;text-align:center}
.fclear {clear:both}
.inner_copy {border:0;color:#f00;float:right;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
a {text-decoration:none;color:#20526a;font-weight:bold}
a:hover {text-decoration:underline;color:#20526a}
a img {border:0}
p {margin:0 0 18px 8px}
h2 {font-size:1.5em;font-weight:normal;letter-spacing:-1px;margin:10px 0 8px 0}
h3 {font-size:1.2em;margin:2px 0 8px 0}

/* MARCO */
#wrap {background:#fff;color:#303030;margin:0 auto;width:95%; height:95%;-webkit-border-radius: 20px 20px 20px 20px;/*border:1px Solid #ff6600;*/}

/* ENCABEZADO */
#header {clear:both;background:url(../images/header.jpg) right no-repeat;height:150px;background-size:100px 110px;}
#header h1 {font-size:3.8em;color:#5298af;padding:55px 0 10px 45px;font-family:Tahoma;}
#header h1:hover{color:#ff6600;}
#header p{font-size:2.0em;color:#444;padding:15px 0 10px 45px;font-family:Tahoma;}

/* MENU */
#menu {clear:both;float:left;width:20%;height:50%;margin:0;padding:20px 0 0 15px;border-right:1px solid #ff6600;clear:booth;}
#menu ul {list-style:none;width:135px;margin:0 0 20px 0;padding:0;font-size:1.8em;letter-spacing:-1px;color:#009933;background:#ecf4f6;
		/*line-height:25px;*/display:compact;padding-left:10px;margin-top:0px;}
#menu li {margin-bottom:4px;line-height:15px;border-bottom:1px solid #E4E4E4;display:block;/*-webkit-transition:padding-left 6s;*/}
#menu ul ul {font-size:0.8em;width:100px;font-weight:normal;margin:5px 0 8px 20px}
#menu ul ul li {margin-bottom:3px}
#menu ul li li{width:150px;height:20px;display:none;}
#menu ul li:hover{color:#FF6600;display: block;padding-left:10px;}
#menu li:hover ul  li{ display:block;padding-bottom:5px;}/*font-size:20px;font-size:12px;

/*
#menu li a {font-weight:bold;text-decoration:none;color:#20526a;display:block;height:1.1em;padding:2px 2px 2px 8px;border-left: 8px solid #70a2ba}
#menu li a:hover {color:#d88d44;text-decoration:none;border-left:8px solid #d88d44}
#menu .current {border-left:8px solid #d88d44}
#menu ul ul li a {border:0;padding:2px}
#menu ul ul li a:hover {border:0;padding:2px;text-decoration:underline}
#menu li:hover ul li  li{ background: #333; padding-left:5px;font-size:13px; color:#383838;}
#menu li:hover ul li li a {color: #ccc; border-bottom:1px solid #E4E4E4;}
#menu li:hover ul li li a:hover { background: #222; border-left: 4px solid #900;}*/

/* SUB MENU */


/* AVISOS */
/*#avisos{width:200px;height:190px;overflow: scroll;font-family:tahoma;font-size:11px;text-align:right;border-right:1px solid #ff6600;}
#avisos h1{line-height:35px;font-size:20px;color:#009933;padding-left:20px;background:#ecf4f6;display:compact;margin:3px 0 0 0;text-align:left;}
#avisos h2{font-family:tahoma;color:#fff;font-weight:bold;font-size:11px;text-align:center;background:#333;height:25px;line-height:25px;width:85px;}
#avisos p{color:#333;font-family:tahoma;font-size:11px;text-align:justify;padding-right:5px}
#avisos a{color:#33afd1;text-decoration:none;}
#avisos a:hover{color:#FF6600;text-decoration:underline;}*/

/* MENU */
/**/

/* Content variations */
#content {margin:5px 170px 0 170px;padding:2px 0 0 0;line-height:1.5em;text-align:left;overflow: scroll;height:300px;width:580px}
#content h2 {font-size:1.6em;margin:20px 0 10px 0}
#content h3 {font-size:1.4em;font-weight:normal;letter-spacing:-1px;margin:10px 0 8px 0}
#content p {text-align:justify}
/* Footer */
#footer {clear:both;margin:5px auto;padding:10px 0;width:760px;text-align:center;background: url(/Clave1Grupo9/images/footer.jpg) bottom left no-repeat;color:#555;font-size:0.9em;line-height:1.5em}
#footer p {margin:11px}
#footer p strong {font-size:1.1em;font-weight:400}
#footer a {color:#777;font-weight:400;text-decoration:none}
#footer a:hover {text-decoration:underline}
/* Various classes */
.datetag {width:50px;padding:0 0 10px 0;text-align:center;background:#20526a url(/Clave1Grupo9/images/date-bottom.gif) bottom left no-repeat;margin:2px 15px 1px 10px;color:#fff;font-size:2.2em;text-align:center;float:left}
.datetag .date {width:50px;display:block;letter-spacing:-1px;padding:15px 0 5px 0;background:#20526a url(/Clave1Grupo9/images/date-top.gif) top left no-repeat}
.datetag .month {font-size:0.5em;letter-spacing:-1px;width:50px;display:block;font-weight:bold}
.textright {text-align:right}
.center {text-align:center}
.frontphoto {margin:20px 0 10px 0}
.small {font-size:0.8em}
.bold {font-weight:bold}
.clear {clear:both}
.hide {display:none}
#footer {clear:both;margin:5px auto;padding:10px 0;width:760px;text-align:center;background: url(/Clave1Grupo9/images/footer.jpg) bottom left no-repeat;color:#555;font-size:0.9em;line-height:1.5em}
caption{font-size:16px;color:#20526a;font-weight:bold}
.iconnew{content:url(/Clave1Grupo9/images/new.jpg); width: 15px;height: 15px;}
.icondel{content:url(/Clave1Grupo9/images/del.jpg); width: 15px;height: 15px;}
.iconview{content:url(/Clave1Grupo9/images/view.jpg); width: 15px;height: 15px;}
.iconedit{content:url(/Clave1Grupo9/images/edit.jpg); width: 15px;height: 15px;}
.iconprint{content:url(/Clave1Grupo9/images/print.jpg); width: 15px;height: 15px;}
.iconprintxls{content:url(/Clave1Grupo9/images/printxls.jpg); width: 15px;height: 15px;}
/* Login */
#login {position:absolute; top:175px; float:left; width:750px; height:310px;}/*border:3px solid Red;*/
#login_outer {overflow:hidden;text-align:center;margin:auto;}
#login_inner {display:inline-table;height:100px;width:100px;margin:0px;font-weight:bold;clear:both;border:3px solid White; background-color: #1e3044;-webkit-border-radius: 20px 20px 20px 20px;}
#login input {border: none;font-family: inherit;font-size: inherit;font-weight: inherit;line-height: inherit;-webkit-appearance: none;}
#login h2 {-webkit-border-radius: 20px 20px 0 0;-moz-border-radius: 20px 20px 0 0;border-radius: 20px 20px 0 0;color: White;font-size: 28px;padding: 20px 26px;}
#login fieldset {background-color: #fff;-webkit-border-radius: 0 0 20px 20px;-moz-border-radius: 0 0 20px 20px;border-radius: 0 0 20px 20px;padding: 20px 26px;}
#login fieldset p {color: #20526a;margin-bottom: 14px;}
#login fieldset p:last-child {margin-bottom: 0;}
#login fieldset input {-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
#login fieldset input[type="email"], #login fieldset input[type="password"] {background-color: #eee;color: #d88d44;padding: 4px 10px;width: 328px;}
/*#login fieldset input[type="email"], #login fieldset input[type="password"] {background-color: #eee;color: #404053;padding: 4px 10px;width: 328px;}*/
#login fieldset input[type="submit"] {background-color: #404053;color: #fff;display: block;margin: 0 auto;padding: 4px 0;width: 100px;}
#login fieldset input[type="submit"]:hover {background-color: #d88d44;}
.iconlock{content:url(/Clave1Grupo9/images/lock.jpg); width: 25px;height: 25px;}
/* Message */
#message {position:absolute; top:175px; float:left; width:750px; height:310px;}/*border:3px solid Red;*/
#message_outer {overflow:hidden;text-align:center;margin:auto;}
#message_inner {display:inline-table;height:100px;width:100px;margin:0px;font-weight:bold;clear:both;border:3px solid White; background-color: #1e3044;-webkit-border-radius: 20px 20px 20px 20px;}
#message fieldset p {color: #20526a;margin-bottom: 14px;}
#message h2 {-webkit-border-radius: 20px 20px 0 0;-moz-border-radius: 20px 20px 0 0;border-radius: 20px 20px 0 0;color: White;font-size: 28px;padding: 20px 26px;}
#message fieldset {background-color: #fff;-webkit-border-radius: 0 0 20px 20px;-moz-border-radius: 0 0 20px 20px;border-radius: 0 0 20px 20px;padding: 20px 26px;}
#message fieldset p:last-child {margin-bottom: 0;width: 328px;}
#message fieldset input[type="submit"] {background-color: #404053;color: #fff;display: block;margin: 0 auto;padding: 4px 0;width: 100px;}
#message fieldset input[type="submit"]:hover {background-color: #d88d44;}