/* GENERALES */
body {margin:25px auto;padding:0;font-size:13px;font-family:arial;color:#222;background:#5298af;}
caption{font-size:32px;color:#009933;font-weight:bold;background:#ecf4f6;}
th{font-size:24px;color:#303030;font-weight:bold;text-align:center;}
table{width:100%;}
td{text-align:justify;}
/* MARCO */
#wrap {background:#fff;color:#303030;margin:0 auto;width:1000px; height:600px ;-webkit-border-radius: 20px 20px 20px 20px;/*border:1px Solid #ff6600;*/}

/* ENCABEZADO */
#header {clear:both;background:url(/scnpalas/images/header.jpg) no-repeat;background-size:100px 110px; background-position: 850px 5px;height:120px;border-bottom:4px Solid #ff6600;}
#header h1{color:#5298af;font-size:32px;padding-left:100px; font-family:Tahoma;text-align:left;margin:45px 0 3px 0;}
#header h1:hover{color:#ff6600;}
#header p{color:#444;font-size:25px;padding-left:100px; font-family:Tahoma;text-align:left;margin:3px 0 3px 0;}

/* MENU */
#menu{width:200px;height:260px;border-right:1px solid #ff6600;/*overflow: scroll;*/}
#menu ul{line-height:35px;font-size:20px;color:#009933;padding-left:20px;background:#ecf4f6;display:compact;margin-top:0px;}
#menu ul {list-style:none;}
#menu ul li{line-height:30px;border-bottom:1px solid #E4E4E4;display:block;-webkit-transition:padding-left 6s;}
#menu ul li:hover{color:#FF6600;display: block;padding-left:15px;}
#menu ul li li{width:150px;height:20px;display:none;}

/* SUB MENU */
#menu li:hover ul  li{ display: block;font-size:20px;padding-bottom:5px;font-size:12px; }
#menu li:hover ul li  li{ background: #333; padding-left:5px;font-size:13px; color:#383838;}
#menu li:hover ul li li a { color: #ccc; border-bottom:1px solid #E4E4E4;}
#menu li:hover ul li li a:hover { background: #222; border-left: 4px solid #900;}

/* AVISOS */
#avisos{width:200px;height:190px;overflow: scroll;font-family:tahoma;font-size:11px;text-align:right;border-right:1px solid #ff6600;}
#avisos h1{line-height:35px;font-size:20px;color:#009933;padding-left:20px;background:#ecf4f6;display:compact;margin:3px 0 0 0;text-align:left;}
#avisos h2{font-family:tahoma;color:#fff;font-weight:bold;font-size:11px;text-align:center;background:#333;height:25px;line-height:25px;width:85px;}
#avisos p{color:#333;font-family:tahoma;font-size:11px;text-align:justify;padding-right:5px}
#avisos a{color:#33afd1;text-decoration:none;}
#avisos a:hover{color:#FF6600;text-decoration:underline;}

#footer{background-color:#333333;height:30px;-webkit-border-radius: 0px 0px 20px 20px;}
#footer table{text-align:center;}
#footer a{color:#ff6600;}
#footer a:hover {color:#fff}
#footer p {margin:0 0 0px 0px}
#footer .fleft {float:left}
#footer .fright  {float:right;margin:0 auto;}
#footer .fcenter {float:none;margin:0 auto;text-align:center}

#content{width:799px;height:450px;overflow: scroll;}
#content {position:fixed !important; right:172px; top:169px; z-index:10 !important}

/* ICONOS */
.iconnew{content:url(/scnpalas/images/new.jpg); width: 20px;height: 20px;}
.icondel{content:url(/scnpalas/images/del.jpg); width: 20px;height: 20px;}
.iconview{content:url(/scnpalas/images/view.jpg); width: 20px;height: 20px;}
.iconedit{content:url(/scnpalas/images/edit.jpg); width: 20px;height: 20px;}
.iconprint{content:url(/scnpalas/images/print.jpg); width: 20px;height: 20px;}
.iconprintxls{content:url(/scnpalas/images/printxls.jpg); width: 20px;height: 20px;}
.iconlock{content:url(/scnpalas/images/lock.jpg); width: 25px;height: 25px;}
.iconquery{content:url(/scnpalas/images/search.jpg); width: 25px;height: 25px;}

/* Login */
#login {position:absolute; top:175px; float:left; width:1000px; height:310px;}/*border:3px solid Red;*/
#login_outer {overflow:hidden;text-align:center;margin:auto;}
#login_inner {display:inline-table;height:100px;width:100px;margin:0px;font-weight:bold;clear:both;border:3px solid White; background-color: #5298af;-webkit-border-radius: 20px 20px 20px 20px;}
#login input {border: none;font-family: inherit;font-size: inherit;font-weight: inherit;line-height: inherit;-webkit-appearance: none;}
#login h2 {-webkit-border-radius: 20px 20px 0 0;-moz-border-radius: 20px 20px 0 0;border-radius: 20px 20px 0 0;color: White;font-size: 28px;padding: 20px 26px;}
#login fieldset {background-color: #fff;-webkit-border-radius: 0 0 20px 20px;-moz-border-radius: 0 0 20px 20px;border-radius: 0 0 20px 20px;padding: 20px 26px;}
#login fieldset p {color: #20526a;margin-bottom: 14px;}
#login fieldset p:last-child {margin-bottom: 0;}
#login fieldset input {-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
#login fieldset input[type="email"], #login fieldset input[type="password"] {background-color: #eee;color: #d88d44;padding: 4px 10px;width: 328px;}
/*#login fieldset input[type="email"], #login fieldset input[type="password"] {background-color: #eee;color: #404053;padding: 4px 10px;width: 328px;}*/
#login fieldset input[type="submit"] {background-color: #404053;color: #fff;display: block;margin: 0 auto;padding: 4px 0;width: 100px;}
#login fieldset input[type="submit"]:hover {background-color: #d88d44;}

/* Message */
#message {position:absolute; top:175px; float:left; width:1000px; height:310px;}/*border:3px solid Red;*/
#message_outer {overflow:hidden;text-align:center;margin:auto;}
#message_inner {display:inline-table;height:100px;width:100px;margin:0px;font-weight:bold;clear:both;border:3px solid White; background-color: #5298af;-webkit-border-radius: 20px 20px 20px 20px;}
#message fieldset p {color: #20526a;margin-bottom: 14px;}
#message h2 {-webkit-border-radius: 20px 20px 0 0;-moz-border-radius: 20px 20px 0 0;border-radius: 20px 20px 0 0;color: White;font-size: 28px;padding: 20px 26px;}
#message fieldset {background-color: #fff;-webkit-border-radius: 0 0 20px 20px;-moz-border-radius: 0 0 20px 20px;border-radius: 0 0 20px 20px;padding: 20px 26px;}
#message fieldset p:last-child {margin-bottom: 0;width: 328px;}
#message fieldset input[type="submit"] {background-color: #404053;color: #fff;display: block;margin: 0 auto;padding: 4px 0;width: 100px;}
#message fieldset input[type="submit"]:hover {background-color: #d88d44;}

/* CONSULTA */
#query:hover .formQuery{display:block;}
.formQuery{display:none;padding:5px;border:1px solid #ccc;background-color:#f1f1f1;position:relative;width:400px;font-size:12px;color:#303030;}