<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/scnpalas</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Alumno" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Usuario" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Rol" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Seccion" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Log" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Matricula" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Evaluacion" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Familiares" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Docente" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Familiar" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.GradoMateria" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.RolOpciones" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Grado" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.SubPeriodo" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.LogDetalle" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Periodo" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Materia" />
        <mapping class="sv.edu.ues.dsi.palasatenea.modelo.Nota" />
    </session-factory>
</hibernate-configuration>
